<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Huong Lan</string>
		<key>measure</key>
		<string>90-60-92</string>
		<key>photo</key>
		<string>huonglan</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Phuong Nhung</string>
		<key>measure</key>
		<string>90-60-92</string>
		<key>photo</key>
		<string>phuongnhung</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mai Trang</string>
		<key>measure</key>
		<string>90-60-92</string>
		<key>photo</key>
		<string>maitrang</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ma Lanh</string>
		<key>measure</key>
		<string>90-60-92</string>
		<key>photo</key>
		<string>malanh</string>
	</dict>
	<dict>
		<key>name</key>
		<string>My Linh</string>
		<key>measure</key>
		<string>90-60-92</string>
		<key>photo</key>
		<string>mylinh</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Phong Lan</string>
		<key>measure</key>
		<string>90-60-92</string>
		<key>photo</key>
		<string>phonglan</string>
	</dict>
</array>
</plist>
